# Base32-encoded OTP secret
ADMIN_OTP_SECRET=

# Status tracker to check whether the service is active (for https://status.reinhart1010.id)
# Only enabled when UPTIME_REPORTER_ENDPOINT is a valid HTTP/HTTPS URL
UPTIME_REPORTER_ENDPOINT=
UPTIME_REPORTER_DEVICE_ID=
UPTIME_REPORTER_DEVICE_TOKEN=

# Telegram Bot Configuration
TG_TOKEN=
